.form-container form{
    padding: 30px;
    border-radius: 5px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    background: #fff;
    text-align: left;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
}
.form-container form input,
.form-container form input{
    width: 90%;
    padding: 10px 15px;
    font-size: 10px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}
.form-container form p{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #333;
}
.form-container form p a{
    font-size: 15px;
    color: crimson;
}
.form-container form .logo1{
    width: 200px;
}